body{
  background-color: #F4F4F4;
}

.navbar-pink {
  background-color: #ff97b1;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.navbar-pink .nav-link {
    color: white !important;
    padding: 15px 25px !important;
}

.navbar-pink .nav-link:hover {
    background-color: #d4889b;
}

.navbar-pink .active>.nav-link {
  color: #ff97b1 !important;
  background-color: white;
}

.navbar-headerpink{
  height: 200px;
  background-color: #ff97b1;
}

.header-logo{
  margin-bottom: 20px;
}

.header-search {
  width: 350px;
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 25px;
  background-color: #fff;
}
.header-search input{
  border: 0;
  box-shadow: none;
}

main .container{
  background-color: white;
  min-height: 800px;
}

footer .container{
  background-color: white;
  height: 150px;
}
